body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.about_content-box2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid red;
    position: relative; 
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 11px;
}

.about_content-box2 h3 {
	font-family: 'Orbitron', Orbitron;
}

.about_content-box2:hover {
	transform: scale(1.02);
	transition: 0.2s ease;
	box-shadow: rgba(0, 0, 0, 0.8);
}

.about_content-box2 {
    font-size: 24px;
    color: #333;
}

.left-image {
    position: absolute;
    left: 0;
    top: 185px;
    width: 20%; 
    height: auto;
}

.right-image {
    position: absolute;
    right: 0;
    top: 185px;
    width: 20%; 
    height: auto;
}

.bottom-image {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}
about_content-box2